@import "../variables";

mat-toolbar {
  position: absolute;
  top: 0;
  height: auto;
  padding: $padding;
}

.unit-values {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.toolbar-trigger {
  position: absolute;
  top: 0;
  width: 100%;
  height: $padding;
}
