<div id="container" fxLayout="column">
  <mat-card fxFlex fxLayout="column">
    <mat-card-header fxLayout="row">
      <mat-card-title>
        <div>{{gasChartConfiguration.description}} ({{gasChartConfiguration.unit}})</div>
      </mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px">
        <mat-spinner [fxShow]="isDataUpdating()" diameter="24"></mat-spinner>
        <button mat-icon-button (click)="toggleExpanded()">
          <mat-icon>{{expanded ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content fxFlex>
      <div id="chart-container">
        <highcharts-chart [Highcharts]="Highcharts" constructorType="stockChart" [options]="chartOptions"
          (chartInstance)="updateChartInstance($event)" [(update)]="updateChart" [class.expanded]="expanded">
        </highcharts-chart>
      </div>
    </mat-card-content>
  </mat-card>
  <app-toolbar [addEmptyUnitValue]="true" (unitValueChange)="changeUnitValue($event)"></app-toolbar>
</div>
