#container {
  height: 100%;
}

highcharts-chart {
  width: 100%;
  height: 100%;
  display: block;
}

mat-spinner {
  margin: 8px;
}

mat-card-content {
  position: relative;
}

#chart-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
