@use '~@angular/material' as mat;
@import "~material-design-icons/iconfont/material-icons.css";

@include mat.core();

$app-primary: mat.define-palette(mat.$light-blue-palette);
$app-accent: mat.define-palette(mat.$light-green-palette);
$app-theme: mat.define-dark-theme($app-primary, $app-accent);

@include mat.all-component-themes($app-theme);

body {
  margin: 0;
}
